.reception{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reception h1{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--color-blue-primary);
}
.reception-tittle{
    display: flex;
    margin-bottom: 1rem;
}
.reception #arrow-icon{
    color: var(--color-dark-blue);
    font-size: 1.5rem;
    position: absolute;
    right: 0px;
    left: 30px;
    top: 58px
}
#error-icon{
    font-size: 60px;
    margin-right: 1rem;
    color: var(--color-green);
}
.reception h4{
    margin-top: 5px;
    font-size: 18px;
}
.reception-tittle p{
    margin-bottom: 0;
}
.reception .flex-column{
    margin: 1rem;
    box-shadow: rgba(7, 33, 58, 0.12) 0px 0px 24px;
    border-radius: 15px;
    padding: 1rem;
}
.reception .nav-item{
    width: 320px;
    height: 40px;
}
.reception .nav-link{
    color: var(--color-dark-blue);
    font-size: 18px;
    font-weight: 500;
}
.reception .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
   background-color: var(--color-dark-blue);
}
/*Wrong product*/
.wrong-reception{
    text-align: center;
}
.wrong-product{
    text-align: left;
    margin: 1rem;
    box-shadow: rgba(7, 33, 58, 0.12) 0px 0px 24px;
    padding: 1rem;
    border-radius: 15px;
}
.wrong-product textarea{
    width: 320px;
}
.wrong-product p{
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.unit-reception input{
    width: 320px;
}
.wrong-product h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#wrong-detail{
    display: flex;
    justify-content: space-between;
}
#file{
    background-color: white;
}

input[type="file"]{
    display: none;
}
input[type="file"]::file-selector-button {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: rgba(7, 33, 58, 0.12) 0px 0px 24px;
    background-color: var(--color-dark-blue);
    color: white;
    font-size: 16px;
    

}
#upload-icon{
    font-size: 20px;
}
.form-check-input:checked{
    background-color: var(--color-green) !important;
    border-color: var(--color-green) !important;
}
@media screen and (min-width: 800px) {
    .reception .tittle-page{
        position: relative;
    }
    .reception #arrow-icon{
        color: var(--color-dark-blue);
        font-size: 1.5rem;
        position: absolute;
        left: -60px;
        top: 42px;
    }
}